/* Gridに関連するプロパティのみ抜粋 */
.Header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.Header_List {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  column-gap: 2px;
  justify-self: end;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.Header_List_a {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}
